body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100px;
    background: #042331;

}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;

}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 1);
}


header {
    background-color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.nav-title {
    flex-grow: 1;
    text-align: right; /* Align the title to the right */
}

.nav-title h1 {
    color: #4CAF50; /* Green color for the heading */
    margin: 0;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049; /* Darker green */
}


.login-text,
.register-text a {
   text-align: center;
   margin-top: 15px;
}
.register-text,
.login-text a {
    text-align: center;
    margin-top: 15px;
}
.remember-me {
    display: flex;
    align-items: center;
}
.remember-me input {
    margin-right: 5px;
}
.forgot-password a {
    text-align: center;
    margin: 10px 0;

}
.forgot-password a {
    color: #5cb85c;
    text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}


 


.menu-toggle {
    display: none;
}
footer {
    text-align: center;
    padding: 20px;
}

#results {
    margin-top: 20px;
    font-size: 18px;
    color: #333;

}


/*-------------------------------------------for small screens---------------------------------*/

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px; /* Adjust based on your header height */
        left: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .menu-toggle .bar {
        display: block;
        width: 25px;
        height: 2px;
        background-color: #fff;
        margin: 5px auto;
        right: -200px;
        transition: right 0.5s;
  
    }
}

main {
    padding: 20px;
}

section {
    margin: 50px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

/* Styles for Registration and Login Forms */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049; /* Darker green */
}